@import url('https://fonts.googleapis.com/css?family=Sansita');

html{
	background-color: antiquewhite;
}

body{
    font-family: helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: sansita;
}

h3{
    display: none;
}

containit{
    width: 100%;
    height:100%;
} 

#icon{
    font-size: 100px;  
} 

#navBar{
    background-color: #6464646;
    height:auto;
    border:2px solid;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#navBar > ul {
    padding-left: 0px;
    margin: 0 0 0 0;
}

#navBar > ul > li {
    display: inline;
}

#navBar > ul > li > a {
    font-weight: bold;
    display: inline-block;
    line-height: 60px;
    height:70px;
    margin: 0;
    padding: 0 30px;
    text-decoration: none;
    color: black;
}

#navBar > ul > li > a:hover {
    color: indianred;
}

.display-box{
    width:150px;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    font-size: 16px;
}
#dog{
    height:100px;
    margin-left: 25px;

}

