@import url('https://fonts.googleapis.com/css?family=Sansita');


div, span, p, em, img, b, i,dl, dt, dd, ol, ul, li,
form, label, legend, table, tr, th, td,
article, aside, footer, header, hgroup, menu, 
section, time {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

nav ul {
    list-style:none;
}

html{
	background-color: antiquewhite;
}

body{
    font-family: helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: sansita;
}

h3{
    display: none;
}

containit{
    width: 100%;
    height:100%;
} 

#icon{
    font-size: 100px;  
} 

#navBar{
    height: auto;
    border:2px solid;
    overflow: hidden;
    position: fixed;
    margin-bottom: 0;
    width: 100%;
}

#navBar > ul {
    height: 50px;
    padding-left: 0px;
    margin: auto;
    margin-bottom:2px;
}

#navBar > ul > li {
    display: inline;
}

#navBar > ul > li > a {
    font-weight: bold;
    display: inline-block;
    line-height: 60px;
    height:70px;
    margin: 0;
    padding: 0 30px;
    text-decoration: none;
    color: black;
}

#navBar > ul > li > a:hover {
    color: indianred;
}

.display-box{
    width:200px;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}


.display-box > ul{
    display:inline-flex;
    list-style-type:none;
    
}

#hourlytemp{
    text-decoration: none;
    list-style-type: none;
}

#maintempsize{
    font-size: 60px; 
    margin: auto; 
    text-align: center;
}

#temp-highlow {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
}

#temp-highlow > li {
    margin-right: 30px;
}

#high{
    color: red;
}


#low{
    color: blue;
}

#dog{
    height:100px;
    margin-left: 25px;

}

footer{
    margin-bottom: 70px; 
}
